[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 15.0

[submodule "OCA/partner-contact-14"]
	path = OCA/partner-contact-14
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0
